.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 25;

    &__container {
        display: flex;
        padding-top: 54px;
    }

    &__logo {
        color: #fff;
        font-size: 20px;
    }

    &__menu {
        flex: 1;
    }
}

.menu {
    &__list {
        list-style: none;

        display: flex;
        justify-content: center;
        gap: 30px;
    }

    &__item {
    }

    &__link {
        color: #D4D4D4;
        font-family: "Golos Text";
        transition: all 1s;

        &:hover {
            color: #fff;
            font-family: "JetBrains Mono";

        }
    }
}

.main {
    height: 1300px;
    &__container {
    }
}

.main-bg {
    position: relative;

    &__circle {
        position: absolute;
        right: 0;
        z-index: 0;
    }

    &__stones {
        position: absolute;
        top: 770px;

        z-index: 20;
    }
}
