.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 25;

    &__container {
        display: flex;
        padding-top: 54px;
    }

    &__logo {
        color: #fff;
        font-size: 20px;
    }

    &__menu {
        flex: 1;
    }
}

.menu {
    &__list {
        list-style: none;

        display: flex;
        justify-content: center;
        gap: 30px;
    }

    &__item {
    }

    &__link {
        color: #D4D4D4;
        font-family: "Golos Text";
        
        transition: all 0.3s;

        &:first-child {
            color: #fff;
            font-family: "JetBrains Mono";
        }

        &:hover {
            color: #CF88E2;
            cursor: pointer;
        }
    }
}

// promo

.promo-bg {
    position: relative;

    &__circle {
        position: absolute;
        right: 0;
        z-index: 0;
    }

    &__stones {
        position: absolute;
        top: 770px;

        z-index: 20;

        pointer-events: none;
    }
}

.promo {
    height: 1300px;

    &__container {
        display: flex;
    }

    &__left {
        position: relative;
        z-index: 5;
    }

    &__header {
        max-width: 600px;
        padding-top: 320px;
        font-family: "Cormorant SC";
        line-height: 110%;
        font-size: 74px;
        font-weight: 500; /* Medium */
    }

    &__text {
        max-width: 405px;
        line-height: 150%;
        color: #D0D0D0;
        margin-top: 60px;

        span {
            color: #787878;
        }
    }

    &__right {
    }
}

.form {
    margin-top: 87px;
    margin-left: 172px;
    // z-index: 23;
    width: 524px;

    &__wrapper {
    }

    &__slide {
        // width: 524px;
    }

    &__decoration {
        text-align: center;
        margin-bottom: -1px;

        img {
            width: 96%;
        }
    }

    &__inner {
        height: 817px;

        padding: 0 50px;
        box-sizing: border-box;
        border-radius: 10px;
        backdrop-filter: blur(133.5px);
        background: rgba(0, 7, 17, 0.22);
        padding-top: 50px;

        border: 1px solid #383346;
    }

    &__progress {
        width: 400px;
        height: 10px;
        background: #01080E;
        padding: 2px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    &__completed {
        height: 100%;
        background: linear-gradient(0.00deg, rgb(23, 17, 91) 3%,rgb(33, 23, 71) 24%,rgb(172, 104, 204) 77%,rgb(235, 153, 255) 98%);

        &_20 {
            width: 20%;
        }

        &_40 {
            width: 40%;
        }

        &_60 {
            width: 60%;
        }

        &_80 {
            width: 80%;
        }

        &_100 {
            width: 100%;
        }
    }

    &__header {
        font-family: "Cormorant SC";
        font-size: 36px;
        text-align: center;
        margin-top: 25px;
    }

    &__radio {
        display: none;

        &:checked + .form__radio-label::after {
            transform: scale(1);
        }

        &:checked + .form__radio-label::before {
            background-color: #01080E;
        }

        &-buttons {
            text-align: center;
            margin-top: 60px;
            margin-bottom: -10px;
        }

        &-label {
            display: inline-flex;
            align-items: center;
            margin-right: 40px;
            position: relative;

            cursor: pointer;

            &_nr {
                width: 398px;
                margin: 0 auto;
                margin-top: 15px;
            }
            
            span {
                font-size: 18px;
                font-weight: 400; /* Regular */
                color: #fff;
                font-family: "JetBrains Mono", monospace;
            }

            &:last-child {
                margin-right: 0;
            }

            &::before {
                content: '';
                flex: 0 0 18px;
                height: 18px;
                border: 2px solid #01080E;
                border-radius: 3px;
                margin-right: 15px;

                transition: all 0.3s;
            }

            &::after {
                content: url('../img/icons/checked.svg');
                position: absolute;
                top: 0;
                left: 5px;
                transform: scale(0);

                transition: all 0.3s;
            }

            &._error::before {
                box-shadow: 0 0 10px red;
            }
        }
    }

    &__input {
        &-block {
            margin-top: 60px;

            &.mt35 {
                margin-top: 35px;
            }

            &.mt20 {
                margin-top: 20px;
            }
        }

        &.w100 {
            width: 100%;
        }

        &[type="number"] {
            -moz-appearance: textfield;
            -webkit-appearance: textfield;
            appearance: textfield;
        }
         
        &[type="number"]::-webkit-outer-spin-button,
        &[type="number"]::-webkit-inner-spin-button {
            display: none;
        }

        display: block;
        width: 398px;
        height: 60px;
        border-radius: 3px;
        background: #01080E;
        padding: 0 25px;
        box-sizing: border-box;

        font-size: 18px;
        font-weight: 400; /* Regular */
        color: #fff;
        font-family: "JetBrains Mono", monospace;

        margin: 0 auto;
        margin-bottom: 10px;

        &:focus {
            outline: none;
            outline: 2px solid #A665C7;

            &[readonly] {
                outline: none;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        &._error {
            box-shadow: 0 0 10px red;
        }
    }

    &__text {
        color: #787878;
        margin-top: 50px;

        &.mt40 {
            margin-top: 40px;
        }

        p {
            margin-top: 20px;
            line-height: 150%;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &__next {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);

        cursor: pointer;

        width: 324px;
        height: 100px;
        margin: 0 auto;
        // margin-top: 60px;

        // z-index: 25;

        img {
            position: absolute;
            top: 0;
            left: 0;
        }

        div {
            position: absolute;
            top: 22px;
            left: 48px;

            display: flex;
            justify-content: center;
            align-items: center;

            height: 57px;
            width: 230px;
            background: #272936;

            transition: all 0.3s;

        }

        &:hover {
            div {
                background: #C08A70;
            }
        }
    }
}


// feedback

.feedback {

    &__container {
        h2 {
            font-family: "Cormorant SC";
            font-size: 50px;
            font-weight: 500; // Medium
            text-align: center;
            margin-bottom: 60px;
        }
    }

    &__slider {
        overflow: visible;
    }

    &__slide {
    }

    &__decor-t, &__decor-b {
        img {
            width: 100%;
        }
    }

    &__inner {
        position: relative;
        background: rgb(14, 14, 39);
        min-height: 500px;
        // height: 100%;
        padding: 30px 70px 70px 30px;
        box-sizing: border-box;
    }

    &__stars {
    }

    &__text {
        line-height: 150%;
        margin-top: 30px;
    }

    &__user {
        font-family: 'Inter';
        color: #787878;
        font-size: 20px;
        
        position: absolute;
        left: 30px;
        bottom: 20px;
    }
}

// faq
.faq {
    background-image: url('../img/bg-stars.png');
    background-size: 100%;

    &__container {
        h2 {
            font-family: "Cormorant SC";
            text-align: center;
            font-size: 50px;
            font-weight: 500; // Medium
            line-height: 110%;
            padding-top: 150px;
            padding-bottom: 94px;
        }
    }
}

.question {
    display: flex;

    &.second {
        margin-top: 65px;
        margin-left: 20px;
    }

    &.third {
        margin-top: 20px;

        ul {
            list-style-position: inside;
            list-style-type: none;

            & > li:before {
                content: "— ";
            }

            & > li {
                color: #787878;
                line-height: 150%;
            }
        }
    }

    &__text {
        border: 1px solid #666666;
        border-radius: 10px;

        padding: 25px;
        box-sizing: border-box;

        &.third {
            background-color: #0E0E27;
            p {
                font-family: "JetBrains Mono", monospace;
            }
        }
    }

    h3 {
        font-family: 'Mulish';
        font-size: 24px;
        line-height: 115%;
        font-weight: 500; // Medium
        padding-bottom: 15px;
    }

    p {
        font-family: 'Mulish';
        font-weight: 500; // Medium
        line-height: 150%;
        color: #787878;

        span {
            color: #fff;
        }
    }

    &__left {
        flex: 0 1 640px;

        &.second {
            margin-top: -50px;
        }

        &.third {
            position: relative;
            z-index: 5;
        }
    }

    &__right {
        flex: 1;

        &.first {
            margin-left: 103px;
            margin-right: -200px;
            margin-top: -59px;        
        }

        &.third {
            position: relative;

            img {
                position: absolute;
                left: -300px;
                top: 14px;
            }
        }
    }
}

// footer 

.footer {
    background-image: url('../img/bg-stars.png');
    background-size: 100%;
    padding-top: 150px;

    ul {
        list-style-type: none;
    }

    &__container {
    }

    &__logo {
        margin-bottom: 15px;

        a {
            font-family: "Inter";
            font-size: 28px;
            color: white;
        }
    }
}

.footer-t {
    display: flex;

    &__start {
        margin-right: auto;

        p {
            font-family: "Inter";
            color: #787878;
            line-height: 150%;
            max-width: 420px;
        }
    }

    &__pay {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 170px;
        height: 54px;
        box-sizing: border-box;
        border-radius: 5px;
        background: rgb(14, 14, 39);
        margin-top: 25px;

        color: #787878;

        transition: all 0.3s;

        &:hover {
            background: #C08A70;
            color: #fff;
        }
    }

    &__column {
        margin-left: 47px;

        h3 {
            font-size: 20px;
            color: #787878;
            margin-bottom: 25px;
        }

        ul {
            li {
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    color: #fff;
                    transition: all 0.3s;

                    &:hover {
                        color: #CF88E2;
                    }
                }
            }
        }
    }
}

.footer-b {
    display: flex;
    margin-top: 75px;
    margin-bottom: 40px;

    &__copyright {
        font-weight: 'Inter';
        font-size: 14px;
        color: #b5b5b5;
        margin-right: auto;
    }

    ul {
        display: flex;
        gap: 24px;
        font-size: 14px;

        a {
            color: rgba(#fff, 0.7);
            transition: all 0.3s;

            &:hover {
                color: #CF88E2;
            }
        }
    }
}
