@import 'popup';

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 25;

    &__container {
        display: flex;
        padding-top: 54px;

        @media (max-width: 680px) {
            padding-top: 25px;
        }
    }

    &__logo {
        color: #fff;
        font-size: 20px;
    }

    &__menu {
        flex: 1;

        @media (max-width: 576px) {
            display: none;
        }
    }
}

.menu {
    &__list {
        list-style: none;

        display: flex;
        justify-content: center;
        gap: 30px;

        margin-left: -180px;

        @media (max-width: 1370px) {
            margin-left: 0;
        }

        @media (max-width: 768px) {
            justify-content: end;
        }
    }

    &__item {
    }

    &__link {
        color: #D4D4D4;
        font-family: "Golos Text";
        
        transition: all 0.3s;

        &:first-child {
            color: #fff;
            font-family: "JetBrains Mono";
        }

        &:hover {
            color: #CF88E2;
            cursor: pointer;
        }
    }
}

.header__menu_phone {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;

    transition: top 0.5s;

    &.open {
        @media (max-width: 576px) {
            top: 0;

            .menu-phone__close {
                opacity: 0.6;
                visibility: visible;
            }
        }
    }
}

.menu-phone {
    &__inner {
        position: relative;
        z-index: 15;

        padding: 28px 20px;
        background: #17181b;
        // box-shadow: 0px 8px 22px 20px rgb(23, 24, 27);
        box-shadow: 0px 8px 22px 0px rgb(0, 0, 0);
    }

    &__logo {
        background: linear-gradient(rgb(235, 153, 255), rgb(172, 104, 204), rgb(23, 17, 91));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        font-size: 20px;
    }

    &__list {
        list-style: none;
        margin-top: 50px;
    }

    &__item {
        text-align: end;
        margin-bottom: 15px;
        position: relative;
        padding: 5px 0;

        &:first-child {
            a {
                color: #fff;
            }

            &::before {
                display: block;
                content: '';
                width: 2px;
                height: 100%;

                position: absolute;
                left: 0;
                top: 0;

                background: linear-gradient(rgb(235, 153, 255), rgb(172, 104, 204), rgb(33, 23, 71), rgb(23, 17, 91));
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        a {
            color: #787878;
            font-size: 16px;
        }
    }

    &__close {
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        width: 100%;
        height: 100%;

        background: #000;
        opacity: 0;
        visibility: hidden;

        transition: all 0.5s;
    }
}


// promo

.promo-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;

    @media (max-width: 768px) {
        opacity: 0.6;
    }

    &__circle {
        position: absolute;
        right: -64px;
        top: -51px;
        z-index: 0;
        // width: 75%;
        height: 100%;

        &_mobile {
            display: none;
            position: absolute;
            top: -38vw;
            left: -70px;
            width: 145%;

            @media (max-width: 768px) {
                display: block;
            }

            @media (max-width: 660px) {
                top: -30vw;
            }

            @media (max-width: 550px) {
                top: -20vw;
            }

            @media (max-width: 450px) {
                left: -38px;
                top: -13vw;
            }
        }

        @media (max-width: 1700px) {
            right: -150px;
        }

        @media (max-width: 1550px) {
            right: -223px;
        }

        @media (max-width: 1400px) {
            right: -310px;
        }

        @media (max-width: 768px) {
            display: none;
            height: unset;
            width: 145%;
            right: 0;
            left: -70px;
            top: 0;
        }
    }

    &__stones {
        position: absolute;
        top: 780px;
        z-index: 20;

        pointer-events: none;

        @media (max-width: 1050px) {
            top: 700px;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }
}

.promo {
    position: relative;
    height: 1300px;

    &__container {
        display: flex;

        @media (max-width: 1370px) {
            justify-content: space-between;
            max-width: 1060px;
        }

        @media (max-width: 900px) {
            gap: 15px;
        }

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__left {
        position: relative;
        z-index: 5;
    }

    &__header {
        max-width: 600px;
        padding-top: 320px;
        font-family: "Cormorant SC";
        line-height: 110%;
        font-size: 74px;
        font-weight: 500; /* Medium */   
        
        @media (max-width: 1370px) {
            font-size: 62px;
        }

        @media (max-width: 1050px) {
            font-size: 50px;
        }

        @media (max-width: 900px) {
            font-size: 42px;
        }

        @media (max-width: 768px) {
            padding-top: 128px;
            // text-align: center;
            max-width: 100%;
        }

        @media (max-width: 376px) {
            font-size: 9.5vw;
        }
    }

    &__text {
        max-width: 405px;
        line-height: 150%;
        color: #D0D0D0;
        margin-top: 60px;

        span {
            color: #787878;
        }

        @media (max-width: 900px) {
            font-size: 16px;
        }

        @media (max-width: 768px) {
            // text-align: center;
            max-width: 400px;
            margin-top: 35px;
        }

        @media (max-width: 376px) {
            font-size: 14px;
        }
    }

    &__right {
        
    }

    @media (max-width: 1050px) {
        height: 1090px;
    }

    @media (max-width: 768px) {
        height: auto;
    }
}

.form {
    margin-top: 108px;
    margin-left: 172px;
    width: 524px;

    @media (max-width: 1370px) {
        width: 470px;
        margin-left: 0;
    }

    @media (max-width: 1050px) {
        width: 415px;
    }

    @media (max-width: 900px) {
        width: 380px;
    }

    @media (max-width: 768px) {
        margin: 0 auto;
    }

    @media (max-width: 430px) {
        width: unset;
    }

    &__decoration {
        text-align: center;
        margin-bottom: -1px;

        img {
            width: 96%;
        }
    }

    &__inner {
        height: 817px;

        padding: 0 50px;
        box-sizing: border-box;
        border-radius: 10px;
        backdrop-filter: blur(133.5px);
        background: rgba(0, 7, 17, 0.22);
        padding-top: 50px;

        border: 1px solid #383346;

        @media (max-width: 1050px) {
            height: 715px;
            padding: 30px;
        }

        @media (max-width: 768px) {
            background: #0E0E27;
        }

        @media (max-width: 430px) {
            height: unset;
            min-height: 715px;
            padding-bottom: 125px;
        }

        @media (max-width: 350px) {
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &__progress {
        max-width: 400px;
        height: 10px;
        background: #01080E;
        padding: 2px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    &__completed {
        height: 100%;
        background: linear-gradient(0.00deg, rgb(23, 17, 91) 3%,rgb(33, 23, 71) 24%,rgb(172, 104, 204) 77%,rgb(235, 153, 255) 98%);

        &_20 {
            width: 20%;
        }

        &_40 {
            width: 40%;
        }

        &_60 {
            width: 60%;
        }

        &_80 {
            width: 80%;
        }

        &_100 {
            width: 100%;
        }
    }

    &__header {
        font-family: "Cormorant SC";
        font-size: 36px;
        text-align: center;
        margin-top: 25px;

        @media (max-width: 1370px) {
            font-size: 32px;
        }

        @media (max-width: 1050px) {
            font-size: 30px;
        }

        @media (max-width: 900px) {
            font-size: 28px;
            margin-top: 15px;
        }

        @media (max-width: 376px) {
            font-size: 5.5vw;
        }
    }

    &__radio {
        display: none;

        &:checked + .form__radio-label::after {
            transform: scale(1);
        }

        &:checked + .form__radio-label::before {
            background-color: #01080E;
        }

        &-buttons {
            text-align: center;
            margin-top: 60px;
            margin-bottom: -10px;

            @media (max-width: 1050px) {
                margin-top: 30px;
            }
        }

        &-label {
            display: inline-flex;
            align-items: center;
            margin-right: 40px;
            position: relative;

            cursor: pointer;
            
            @media (max-width: 440px) {
                align-items: unset;
            }
            
            span {
                font-size: 18px;
                font-weight: 400; /* Regular */
                color: #fff;
                font-family: "JetBrains Mono", monospace;
            }

            &_nr {
                width: 398px;
                margin: 0 auto;
                margin-top: 15px;

                @media (max-width: 1050px) {
                    span {
                        font-size: 16px;
                    }
                }

                @media (max-width: 440px) {
                    width: 100%;
                    max-width: 398px;

                    span {
                        line-height: 140%;
                        font-size: 15px;
                    }
                }
            }

            &:last-child {
                margin-right: 0;
            }

            &::before {
                content: '';
                flex: 0 0 18px;
                height: 18px;
                border: 2px solid #01080E;
                border-radius: 3px;
                margin-right: 15px;

                transition: all 0.3s;
            }

            &::after {
                content: url('../img/icons/checked.svg');
                position: absolute;
                top: 0;
                left: 5px;
                transform: scale(0);

                transition: all 0.3s;
            }

            &._error::before {
                box-shadow: 0 0 10px red;
            }
        }
    }

    &__input {
        &-block {
            margin-top: 60px;

            @media (max-width: 1050px) {
                margin-top: 30px;
            }

            &.mt35 {
                margin-top: 35px;

                @media (max-width: 900px) {
                    margin-top: 30px;
                }
            }

            &.mt20 {
                margin-top: 20px;
            }
        }

        &.w100 {
            width: 100%;
        }

        &[type="number"] {
            -moz-appearance: textfield;
            -webkit-appearance: textfield;
            appearance: textfield;
        }
         
        &[type="number"]::-webkit-outer-spin-button,
        &[type="number"]::-webkit-inner-spin-button {
            display: none;
        }

        display: block;
        width: 100%;
        max-width: 398px;
        // width: 398px;
        height: 60px;
        border-radius: 3px;
        background: #01080E;
        padding: 0 25px;
        box-sizing: border-box;

        font-size: 18px;
        font-weight: 400; /* Regular */
        color: #fff;
        font-family: "JetBrains Mono", monospace;

        margin: 0 auto;
        margin-bottom: 10px;

        @media (max-width: 1050px) {
            height: 50px;
            font-size: 16px;
        }

        @media (max-width: 900px) {
            padding: 0 20px;
        }

        @media (max-width: 376px) {
            height: 40px;
        }

        &:focus {
            outline: none;
            outline: 2px solid #A665C7;

            &[readonly] {
                outline: none;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        &._error {
            box-shadow: 0 0 10px red;
        }
    }

    &__text {
        color: #787878;
        margin-top: 50px;

        @media (max-width: 1050px) {
            margin-top: 30px;
        }

        &.mt40 {
            margin-top: 40px;

            @media (max-width: 1050px) {
                margin-top: 30px;
                
            }
        }

        p {
            margin-top: 20px;
            line-height: 150%;

            &:first-child {
                margin-top: 0;
            }

            @media (max-width: 1370px) {
                font-size: 17px;
            }

            @media (max-width: 1050px) {
                font-size: 16px;
                line-height: 140%;
            }
        }
    }

    &__next {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);

        cursor: pointer;

        width: 324px;
        height: 100px;
        margin: 0 auto;
        
        // Убираем подсветку при клике
        -webkit-touch-callout: none; 
        -webkit-user-select: none; 
        -moz-user-select: none; 
        user-select: none; 
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        img {
            position: absolute;
            top: 0;
            left: 0;
        }

        div {
            position: absolute;
            top: 22px;
            left: 48px;

            display: flex;
            justify-content: center;
            align-items: center;

            height: 57px;
            width: 230px;
            background: #272936;

            transition: all 0.3s;
            color: #fff;
        }

        &:hover {
            div {
                // background: #C08A70;
                background: #472b74;
            }
        }

        @media (max-width: 1050px) {
            width: 260px;
            height: 80px;
            bottom: 30px;

            img {
                width: 100%;
            }

            div {
                top: 17px;
                left: 37px;
                width: 186px;
                height: 47px;

                font-size: 16px;
            }
        }
    }
}


// feedback

.feedback {

    @media (max-width: 768px) {
        padding-top: 60px;
    }

    &__container {
        h2 {
            font-family: "Cormorant SC";
            font-size: 50px;
            font-weight: 500; // Medium
            text-align: center;
            margin-bottom: 60px;
            line-height: 110%;

            br {
                display: none;
            }

            @media (max-width: 992px) {
                font-size: 40px;
            }

            @media (max-width: 768px) {
                font-size: 35px;

                br {
                    display: block;
                }
            }

            @media (max-width: 480px) {
                margin-bottom: 35px;
            }

            @media (max-width: 410px) {
                font-size: 8vw;
            }
        }
    }

    &__slider {
        overflow: visible;
    }

    &__slide {
        height: auto;
    }

    &__decor-t, &__decor-b {
        img {
            width: 100%;
        }
    }

    &__inner {
        position: relative;
        background: rgb(14, 14, 39);
        // min-height: 500px;
        height: calc(100% - 80px);
        padding: 30px 70px 70px 30px;
        box-sizing: border-box;

        @media (max-width: 576px) {
            // padding-bottom: 50px;
            // padding-top: 40px;
            padding-bottom: 80px;
        }

        @media (max-width: 500px) {
            padding-right: 30px;
        }

        @media (max-width: 450px) {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
        }
    }

    &__stars {
    }

    &__text {
        line-height: 150%;
        margin-top: 30px;

        @media (max-width: 576px) {
            font-size: 16px;
            margin-top: 15px;
        }

        @media (max-width: 376px) {
            font-size: 14px;
        }
    }

    &__user {
        font-family: 'Inter';
        color: #787878;
        font-size: 20px;
        
        position: absolute;
        left: 30px;
        bottom: 20px;

        @media (max-width: 576px) {
            font-size: 16px;
        }

        @media (max-width: 450px) {
            left: 20px;
        }
    }
}

// faq
.faq {
    background-image: url('../img/bg-stars.png');
    background-size: 100%;

    &__container {
        h2 {
            font-family: "Cormorant SC";
            text-align: center;
            font-size: 50px;
            font-weight: 500; // Medium
            line-height: 110%;
            padding-top: 150px;
            padding-bottom: 94px;

            @media (max-width: 992px) {
                padding-top: 65px;
                padding-bottom: 50px;
            }

            @media (max-width: 576px) {
                font-size: 35px;
            }
        }
    }
}

.question {
    display: flex;

    &.second {
        margin-top: 65px;
        margin-left: 20px;

        @media (max-width: 1200px) {
            gap: 20px;
        }

        @media (max-width: 768px) {
            gap: 0;
            margin-left: 0;
            margin-top: 20px;
        }
    }

    &.third {
        margin-top: 20px;

        ul {
            list-style-position: inside;
            list-style-type: none;

            & > li:before {
                content: "— ";
            }

            & > li {
                color: #787878;
                line-height: 150%;
            }
        }
    }

    &__text {
        border: 1px solid #666666;
        border-radius: 10px;

        padding: 25px;
        box-sizing: border-box;

        &.third {
            background-color: #0E0E27;
            font-size: 16px;

            p {
                font-family: "JetBrains Mono", monospace;
            }
        }
    }

    h3 {
        font-family: 'Mulish';
        font-size: 24px;
        line-height: 115%;
        font-weight: 500; // Medium
        padding-bottom: 15px;

        @media (max-width: 576px) {
            font-size: 18px;
        }
    }

    p {
        font-family: 'Mulish';
        font-weight: 500; // Medium
        line-height: 150%;
        color: #787878;

        span {
            color: #fff;
        }

        @media (max-width: 576px) {
            font-size: 16px;
        }
    }

    &__left {
        flex: 0 0 640px;

        &.first {
            flex: 1;
        }

        &.second {
            margin-top: -50px;

            @media (max-width: 1200px) {
                display: flex;
                align-items: center;

                margin-top: 0;
                flex: 0 1 40%;

                img {
                    width: 100%;
                }
            }

            @media (max-width: 768px) {
                display: none;
            }
        }

        &.third {
            position: relative;
            z-index: 5;

            @media (max-width: 768px) {
                flex: 1;
            }
        }

        @media (max-width: 1200px) {
            flex: 0 0 490px;
        }

        @media (max-width: 992px) {
            flex: 0 0 420px;
        }
    }

    &__right {
        flex: 1;

        &.first {
            margin-left: 103px;
            margin-right: -200px;
            
            @media (max-width: 1200px) {
                margin-top: 0px;
                margin-right: 0;
                margin-left: 20px;
                display: flex;
                align-items: center;

                img {
                    width: 100%;
                }
            }

            @media (max-width: 992px) {
                img {
                    width: 200%;
                }
            }

            @media (max-width: 768px) {
                display: none;
            }
        }

        &.second {
            // flex: 0 0 640px;
        }

        &.third {
            position: relative;

            img {
                position: absolute;
                left: -300px;
                top: 14px;
            }

            @media (max-width: 768px) {
                display: none;
            }
        }
    }
}

// footer 

.footer {
    background-image: url('../img/bg-stars.png');
    background-size: 100%;
    padding-top: 150px;

    @media (max-width: 992px) {
        padding-top: 70px;
    }

    ul {
        list-style-type: none;
    }

    &__container {
    }

    &__logo {
        margin-bottom: 15px;

        a {
            font-family: "Inter";
            font-size: 28px;
            color: white;
        }

        @media (max-width: 576px) {
            a {
                font-size: 20px;
            }
        }
    }
}

.footer-t {
    display: flex;
    gap: 35px;

    @media (max-width: 900px) {
        flex-wrap: wrap;
    }

    &__start {
        margin-right: auto;

        p {
            font-family: "Inter";
            color: #787878;
            line-height: 150%;
            max-width: 420px;

            @media (max-width: 576px) {
                font-size: 16px;
            }
        }

        @media (max-width: 900px) {
            flex: 0 1 100%;
        }
    }

    &__pay {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 170px;
        height: 54px;
        box-sizing: border-box;
        border-radius: 5px;
        background: rgb(14, 14, 39);
        margin-top: 25px;

        color: #787878;

        transition: all 0.3s;

        &:hover {
            background: #C08A70;
            color: #fff;
        }
    }

    &__column {
        // margin-left: 47px;

        h3 {
            font-size: 20px;
            color: #787878;
            margin-bottom: 25px;

            @media (max-width: 576px) {
                font-size: 18px;
            }
        }

        ul {
            li {
                margin-bottom: 15px;
                white-space: nowrap;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    color: #fff;
                    transition: all 0.3s;

                    &:hover {
                        color: #CF88E2;
                    }
                }

                @media (max-width: 576px) {
                    font-size: 16px;
                    white-space: normal;
                    line-height: 130%;

                    a {
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

.footer-b {
    display: flex;
    margin-top: 75px;
    margin-bottom: 40px;
    gap: 20px;

    &__copyright {
        font-family: 'Inter';
        font-size: 14px;
        color: #b5b5b5;
        margin-right: auto;
    }

    ul {
        display: flex;
        gap: 24px;
        font-size: 14px;

        a {
            color: rgba(#fff, 0.7);
            transition: all 0.3s;

            &:hover {
                color: #CF88E2;
            }
        }
    }

    @media (max-width: 1200px) {
        &__copyright {
            flex: 0 0 230px;
        }

        ul {
            flex-wrap: wrap;
            justify-content: space-between;
        } 
    }

    @media (max-width: 780px) {
        &__copyright {
            flex: 1;
        }

        flex-direction: column;
    }

    @media (max-width: 620px) {
        margin-top: 50px;
    }

    @media (max-width: 540px) {
        ul {
            flex-direction: column;
            gap: 15px;
        }
    }
}


//////// popups

.popup {

    &__decoration {
        img {
            width: 100%;
        }
    }

    &__inner {
        background: #0E0E27;
        border-radius: 10px;
    }

    &__submit {
        position: relative;

        cursor: pointer;

        width: 324px;
        height: 100px;
        margin: 0 auto;
        margin-top: 40px;

        @media (max-width: 576px) {
            width: 227px;
            height: 70px;
            margin-top: 25px;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;

            @media (max-width: 576px) {
                width: 100%;
                height: 100%;
            }
        }

        div {
            position: absolute;
            top: 22px;
            left: 48px;

            display: flex;
            justify-content: center;
            align-items: center;

            height: 57px;
            width: 230px;
            background: #272936;

            transition: all 0.3s;
            color: #fff;

            @media (max-width: 576px) {
                font-size: 12.6px;
                top: 15px;
                left: 33px;
                width: 161px;
                height: 40px;
            }
        }

        &:hover {
            div {
                background: #472b74;
            }
        }
    }
}

.popup-calc {

    &__body {

    }

    &__content {
        padding: 0;
    }

    &__inner {
        padding: 30px 60px;
        box-sizing: border-box;

        @media (max-width: 576px) {
            padding: 30px;
        }

        h2 {
            margin-bottom: 50px;
            font-size: 42px;
            font-family: "Cormorant SC";
            line-height: 110%;
            text-align: center;

            @media (max-width: 576px) {
                font-size: 28px;
                margin-bottom: 30px;
            }
        }

        ul {
            list-style: none;

            li {
                margin-bottom: 25px;

                @media (max-width: 576px) {
                    margin-bottom: 16px;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                p {
                    line-height: 150%;
                    color: #787878;

                    @media (max-width: 576px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    &__progress {
        max-width: 500px;
        height: 20px;
        border-radius: 10px;
        background: #01080E;
    }

    &__completed {
        width: 0;
        height: 100%;
        border-radius: 10px;
        background: linear-gradient(0.00deg, rgb(23, 17, 91) 3%,rgb(33, 23, 71) 24%,rgb(172, 104, 204) 77%,rgb(235, 153, 255) 98%);

        // transition: width 1s;

        // &.end {
        //     width: 100%;
        // }

        span {
            font-family: "Cormorant SC";
            font-size: 14px;
            padding-left: 17px;
        }
    }
}

.popup-done {

    &__body {
        padding: 10px;
    }

    &__content {
        @media (max-width: 576px) {
            padding: 10px;
        }
    }

    &__inner {

    }

    &__info {
        padding: 30px;
        margin: 0 auto;
        max-width: 440px;

        @media (max-width: 576px) {
            max-width: 350px;
            padding: 30px 17px;
        }

        h2 {
            font-family: "Cormorant SC";
            font-size: 36px;
            line-height: 110%;
            text-align: center;
            max-width: 380px;
            margin: 0 auto;

            @media (max-width: 576px) {
                font-size: 28px;

            }
        }

        h3 {
            padding-top: 40px;
            line-height: 150%;
            color: #787878;

            @media (max-width: 576px) {
                font-size: 16px;
                padding-top: 25px;
                line-height: 110%;
            }
        }

        ul {
            margin-top: 15px;
            list-style: none;

            li {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                @media (max-width: 576px) {
                    font-size: 14px;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &::before {
                    content: url('../img/icons/li.svg');
                    margin-right: 10px;
                }
            }
        }
    }

    &__promotion {
        margin-top: 40px;
        font-family: "Cormorant SC";
        font-size: 36px;

        @media (max-width: 576px) {
            font-size: 28px;
            margin-top: 25px;
        }
    }

    &__promotion-text {
        margin-top: 15px;

        @media (max-width: 576px) {
            font-size: 14px;
        }
    }

    &__input {
        margin-top: 25px;
        width: 100%;
        max-width: 400px;
        height: 60px;
        padding: 0 25px;
        background: #01080E;
        border-radius: 5px;
        box-sizing: border-box;

        font-family: "JetBrains Mono";
        font-size: 18px;
        color: white;

        @media (max-width: 576px) {
            font-size: 16px;
            height: 54px;
            padding: 0 15px;
        }

        &:focus {
            outline: none;
            // outline: 2px solid #A665C7;
            outline: 2px solid #fff;

            @media (max-width: 576px) {
                outline: 1px solid #fff;
            }

            &[readonly] {
                outline: none;
            }
        }

        &::placeholder {
            color: #787878;
        }

        &._error {
            box-shadow: 0 0 10px red;
        }
    }
}

.popup-success {

    &__body {
    }

    &__content {
        padding-right: 0;
        padding-left: 0;
    }

    &__inner {
        padding: 30px 15px;

        h2 {
            font-size: 36px;
            font-family: "Cormorant SC";
            text-align: center;
            max-width: 500px;
            margin: 0 auto;

            @media (max-width: 576px) {
                font-size: 28px;
                max-width: 350px;
            }
        }

        p {
            text-align: center;
            font-size: 20px;
            max-width: 500px;
            margin: 0 auto;
            margin-top: 40px;

            @media (max-width: 576px) {
                font-size: 15px;
                max-width: 350px;
                margin-top: 25px;
            }
        }
    }

    &__submit {
    }
}
