@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

b {
  font-size: inherit;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 18px;
  font-weight: 400; /* Regular */
  color: #fff;
  font-family: "JetBrains Mono", monospace;
  background-color: #01080E;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1300px;
  margin: 0px auto;
  padding: 0 25px;
  box-sizing: content-box; /* Сам прибавляет padding */
}

/*
._ibg {
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        object-fit: cover;
    }
}
 */
/* ----------------------------------- */
body.lock {
  overflow: hidden;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  box-sizing: border-box;
}
.popup__content {
  max-width: 800px;
  padding: 30px;
  transform: perspective(600px) translate(0, -100%) rotate(45deg);
  opacity: 0;
  transition: all 0.8s;
}
.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0px) rotate(0deg);
  opacity: 1;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 25;
}
.header__container {
  display: flex;
  padding-top: 54px;
}
@media (max-width: 680px) {
  .header__container {
    padding-top: 25px;
  }
}
.header__logo {
  color: #fff;
  font-size: 20px;
}
.header__menu {
  flex: 1;
}
@media (max-width: 576px) {
  .header__menu {
    display: none;
  }
}

.menu__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-left: -180px;
}
@media (max-width: 1370px) {
  .menu__list {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .menu__list {
    justify-content: end;
  }
}
.menu__link {
  color: #D4D4D4;
  font-family: "Golos Text";
  transition: all 0.3s;
}
.menu__link:first-child {
  color: #fff;
  font-family: "JetBrains Mono";
}
.menu__link:hover {
  color: #CF88E2;
  cursor: pointer;
}

.promo-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
}
@media (max-width: 768px) {
  .promo-bg {
    opacity: 0.6;
  }
}
.promo-bg__circle {
  position: absolute;
  right: -64px;
  top: -51px;
  z-index: 0;
  height: 100%;
}
.promo-bg__circle_mobile {
  display: none;
  position: absolute;
  top: -38vw;
  left: -70px;
  width: 145%;
}
@media (max-width: 768px) {
  .promo-bg__circle_mobile {
    display: block;
  }
}
@media (max-width: 660px) {
  .promo-bg__circle_mobile {
    top: -30vw;
  }
}
@media (max-width: 550px) {
  .promo-bg__circle_mobile {
    top: -20vw;
  }
}
@media (max-width: 450px) {
  .promo-bg__circle_mobile {
    left: -38px;
    top: -13vw;
  }
}
@media (max-width: 1700px) {
  .promo-bg__circle {
    right: -150px;
  }
}
@media (max-width: 1550px) {
  .promo-bg__circle {
    right: -223px;
  }
}
@media (max-width: 1400px) {
  .promo-bg__circle {
    right: -310px;
  }
}
@media (max-width: 768px) {
  .promo-bg__circle {
    display: none;
    height: unset;
    width: 145%;
    right: 0;
    left: -70px;
    top: 0;
  }
}
.promo-bg__stones {
  position: absolute;
  top: 780px;
  z-index: 20;
  pointer-events: none;
}
@media (max-width: 1050px) {
  .promo-bg__stones {
    top: 700px;
  }
}
@media (max-width: 768px) {
  .promo-bg__stones {
    display: none;
  }
}

.promo {
  position: relative;
  height: 1300px;
}
.promo__container {
  display: flex;
}
@media (max-width: 1370px) {
  .promo__container {
    justify-content: space-between;
    max-width: 1060px;
  }
}
@media (max-width: 900px) {
  .promo__container {
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .promo__container {
    flex-direction: column;
  }
}
.promo__left {
  position: relative;
  z-index: 5;
}
.promo__header {
  max-width: 600px;
  padding-top: 320px;
  font-family: "Cormorant SC";
  line-height: 110%;
  font-size: 74px;
  font-weight: 500; /* Medium */
}
@media (max-width: 1370px) {
  .promo__header {
    font-size: 62px;
  }
}
@media (max-width: 1050px) {
  .promo__header {
    font-size: 50px;
  }
}
@media (max-width: 900px) {
  .promo__header {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .promo__header {
    padding-top: 128px;
    max-width: 100%;
  }
}
@media (max-width: 376px) {
  .promo__header {
    font-size: 9.5vw;
  }
}
.promo__text {
  max-width: 405px;
  line-height: 150%;
  color: #D0D0D0;
  margin-top: 60px;
}
.promo__text span {
  color: #787878;
}
@media (max-width: 900px) {
  .promo__text {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .promo__text {
    max-width: 400px;
    margin-top: 35px;
  }
}
@media (max-width: 376px) {
  .promo__text {
    font-size: 14px;
  }
}
@media (max-width: 1050px) {
  .promo {
    height: 1090px;
  }
}
@media (max-width: 768px) {
  .promo {
    height: auto;
  }
}

.form {
  margin-top: 108px;
  margin-left: 172px;
  width: 524px;
}
@media (max-width: 1370px) {
  .form {
    width: 470px;
    margin-left: 0;
  }
}
@media (max-width: 1050px) {
  .form {
    width: 415px;
  }
}
@media (max-width: 900px) {
  .form {
    width: 380px;
  }
}
@media (max-width: 768px) {
  .form {
    margin: 0 auto;
  }
}
@media (max-width: 430px) {
  .form {
    width: unset;
  }
}
.form__decoration {
  text-align: center;
  margin-bottom: -1px;
}
.form__decoration img {
  width: 96%;
}
.form__inner {
  height: 817px;
  padding: 0 50px;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(133.5px);
          backdrop-filter: blur(133.5px);
  background: rgba(0, 7, 17, 0.22);
  padding-top: 50px;
  border: 1px solid #383346;
}
@media (max-width: 1050px) {
  .form__inner {
    height: 715px;
    padding: 30px;
  }
}
@media (max-width: 768px) {
  .form__inner {
    background: #0E0E27;
  }
}
@media (max-width: 430px) {
  .form__inner {
    height: unset;
    min-height: 715px;
    padding-bottom: 125px;
  }
}
@media (max-width: 350px) {
  .form__inner {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.form__progress {
  max-width: 400px;
  height: 10px;
  background: #01080E;
  padding: 2px;
  box-sizing: border-box;
  margin: 0 auto;
}
.form__completed {
  height: 100%;
  background: linear-gradient(0deg, rgb(23, 17, 91) 3%, rgb(33, 23, 71) 24%, rgb(172, 104, 204) 77%, rgb(235, 153, 255) 98%);
}
.form__completed_20 {
  width: 20%;
}
.form__completed_40 {
  width: 40%;
}
.form__completed_60 {
  width: 60%;
}
.form__completed_80 {
  width: 80%;
}
.form__completed_100 {
  width: 100%;
}
.form__header {
  font-family: "Cormorant SC";
  font-size: 36px;
  text-align: center;
  margin-top: 25px;
}
@media (max-width: 1370px) {
  .form__header {
    font-size: 32px;
  }
}
@media (max-width: 1050px) {
  .form__header {
    font-size: 30px;
  }
}
@media (max-width: 900px) {
  .form__header {
    font-size: 28px;
    margin-top: 15px;
  }
}
@media (max-width: 376px) {
  .form__header {
    font-size: 5.5vw;
  }
}
.form__radio {
  display: none;
}
.form__radio:checked + .form__radio-label::after {
  transform: scale(1);
}
.form__radio:checked + .form__radio-label::before {
  background-color: #01080E;
}
.form__radio-buttons {
  text-align: center;
  margin-top: 60px;
  margin-bottom: -10px;
}
@media (max-width: 1050px) {
  .form__radio-buttons {
    margin-top: 30px;
  }
}
.form__radio-label {
  display: inline-flex;
  align-items: center;
  margin-right: 40px;
  position: relative;
  cursor: pointer;
}
@media (max-width: 440px) {
  .form__radio-label {
    align-items: unset;
  }
}
.form__radio-label span {
  font-size: 18px;
  font-weight: 400; /* Regular */
  color: #fff;
  font-family: "JetBrains Mono", monospace;
}
.form__radio-label_nr {
  width: 398px;
  margin: 0 auto;
  margin-top: 15px;
}
@media (max-width: 1050px) {
  .form__radio-label_nr span {
    font-size: 16px;
  }
}
@media (max-width: 440px) {
  .form__radio-label_nr {
    width: 100%;
    max-width: 398px;
  }
  .form__radio-label_nr span {
    line-height: 140%;
    font-size: 15px;
  }
}
.form__radio-label:last-child {
  margin-right: 0;
}
.form__radio-label::before {
  content: "";
  flex: 0 0 18px;
  height: 18px;
  border: 2px solid #01080E;
  border-radius: 3px;
  margin-right: 15px;
  transition: all 0.3s;
}
.form__radio-label::after {
  content: url("../img/icons/checked.svg");
  position: absolute;
  top: 0;
  left: 5px;
  transform: scale(0);
  transition: all 0.3s;
}
.form__radio-label._error::before {
  box-shadow: 0 0 10px red;
}
.form__input {
  display: block;
  width: 100%;
  max-width: 398px;
  height: 60px;
  border-radius: 3px;
  background: #01080E;
  padding: 0 25px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400; /* Regular */
  color: #fff;
  font-family: "JetBrains Mono", monospace;
  margin: 0 auto;
  margin-bottom: 10px;
}
.form__input-block {
  margin-top: 60px;
}
@media (max-width: 1050px) {
  .form__input-block {
    margin-top: 30px;
  }
}
.form__input-block.mt35 {
  margin-top: 35px;
}
@media (max-width: 900px) {
  .form__input-block.mt35 {
    margin-top: 30px;
  }
}
.form__input-block.mt20 {
  margin-top: 20px;
}
.form__input.w100 {
  width: 100%;
}
.form__input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
.form__input[type=number]::-webkit-outer-spin-button, .form__input[type=number]::-webkit-inner-spin-button {
  display: none;
}
@media (max-width: 1050px) {
  .form__input {
    height: 50px;
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .form__input {
    padding: 0 20px;
  }
}
@media (max-width: 376px) {
  .form__input {
    height: 40px;
  }
}
.form__input:focus {
  outline: none;
  outline: 2px solid #A665C7;
}
.form__input:focus[readonly] {
  outline: none;
}
.form__input:last-child {
  margin-bottom: 0;
}
.form__input._error {
  box-shadow: 0 0 10px red;
}
.form__text {
  color: #787878;
  margin-top: 50px;
}
@media (max-width: 1050px) {
  .form__text {
    margin-top: 30px;
  }
}
.form__text.mt40 {
  margin-top: 40px;
}
@media (max-width: 1050px) {
  .form__text.mt40 {
    margin-top: 30px;
  }
}
.form__text p {
  margin-top: 20px;
  line-height: 150%;
}
.form__text p:first-child {
  margin-top: 0;
}
@media (max-width: 1370px) {
  .form__text p {
    font-size: 17px;
  }
}
@media (max-width: 1050px) {
  .form__text p {
    font-size: 16px;
    line-height: 140%;
  }
}
.form__next {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  width: 324px;
  height: 100px;
  margin: 0 auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.form__next img {
  position: absolute;
  top: 0;
  left: 0;
}
.form__next div {
  position: absolute;
  top: 22px;
  left: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  width: 230px;
  background: #272936;
  transition: all 0.3s;
  color: #fff;
}
.form__next:hover div {
  background: #472b74;
}
@media (max-width: 1050px) {
  .form__next {
    width: 260px;
    height: 80px;
    bottom: 30px;
  }
  .form__next img {
    width: 100%;
  }
  .form__next div {
    top: 17px;
    left: 37px;
    width: 186px;
    height: 47px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .feedback {
    padding-top: 60px;
  }
}
.feedback__container h2 {
  font-family: "Cormorant SC";
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 60px;
  line-height: 110%;
}
.feedback__container h2 br {
  display: none;
}
@media (max-width: 992px) {
  .feedback__container h2 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .feedback__container h2 {
    font-size: 35px;
  }
  .feedback__container h2 br {
    display: block;
  }
}
@media (max-width: 480px) {
  .feedback__container h2 {
    margin-bottom: 35px;
  }
}
@media (max-width: 410px) {
  .feedback__container h2 {
    font-size: 8vw;
  }
}
.feedback__slider {
  overflow: visible;
}
.feedback__slide {
  height: auto;
}
.feedback__decor-t img, .feedback__decor-b img {
  width: 100%;
}
.feedback__inner {
  position: relative;
  background: rgb(14, 14, 39);
  height: calc(100% - 80px);
  padding: 30px 70px 70px 30px;
  box-sizing: border-box;
}
@media (max-width: 576px) {
  .feedback__inner {
    padding-bottom: 80px;
  }
}
@media (max-width: 500px) {
  .feedback__inner {
    padding-right: 30px;
  }
}
@media (max-width: 450px) {
  .feedback__inner {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
}
.feedback__text {
  line-height: 150%;
  margin-top: 30px;
}
@media (max-width: 576px) {
  .feedback__text {
    font-size: 16px;
    margin-top: 15px;
  }
}
@media (max-width: 376px) {
  .feedback__text {
    font-size: 14px;
  }
}
.feedback__user {
  font-family: "Inter";
  color: #787878;
  font-size: 20px;
  position: absolute;
  left: 30px;
  bottom: 20px;
}
@media (max-width: 576px) {
  .feedback__user {
    font-size: 16px;
  }
}
@media (max-width: 450px) {
  .feedback__user {
    left: 20px;
  }
}

.faq {
  background-image: url("../img/bg-stars.png");
  background-size: 100%;
}
.faq__container h2 {
  font-family: "Cormorant SC";
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  line-height: 110%;
  padding-top: 150px;
  padding-bottom: 94px;
}
@media (max-width: 992px) {
  .faq__container h2 {
    padding-top: 65px;
    padding-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .faq__container h2 {
    font-size: 35px;
  }
}

.question {
  display: flex;
}
.question.second {
  margin-top: 65px;
  margin-left: 20px;
}
@media (max-width: 1200px) {
  .question.second {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .question.second {
    gap: 0;
    margin-left: 0;
    margin-top: 20px;
  }
}
.question.third {
  margin-top: 20px;
}
.question.third ul {
  list-style-position: inside;
  list-style-type: none;
}
.question.third ul > li:before {
  content: "— ";
}
.question.third ul > li {
  color: #787878;
  line-height: 150%;
}
.question__text {
  border: 1px solid #666666;
  border-radius: 10px;
  padding: 25px;
  box-sizing: border-box;
}
.question__text.third {
  background-color: #0E0E27;
  font-size: 16px;
}
.question__text.third p {
  font-family: "JetBrains Mono", monospace;
}
.question h3 {
  font-family: "Mulish";
  font-size: 24px;
  line-height: 115%;
  font-weight: 500;
  padding-bottom: 15px;
}
@media (max-width: 576px) {
  .question h3 {
    font-size: 18px;
  }
}
.question p {
  font-family: "Mulish";
  font-weight: 500;
  line-height: 150%;
  color: #787878;
}
.question p span {
  color: #fff;
}
@media (max-width: 576px) {
  .question p {
    font-size: 16px;
  }
}
.question__left {
  flex: 0 0 640px;
}
.question__left.first {
  flex: 1;
}
.question__left.second {
  margin-top: -50px;
}
@media (max-width: 1200px) {
  .question__left.second {
    display: flex;
    align-items: center;
    margin-top: 0;
    flex: 0 1 40%;
  }
  .question__left.second img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .question__left.second {
    display: none;
  }
}
.question__left.third {
  position: relative;
  z-index: 5;
}
@media (max-width: 768px) {
  .question__left.third {
    flex: 1;
  }
}
@media (max-width: 1200px) {
  .question__left {
    flex: 0 0 490px;
  }
}
@media (max-width: 992px) {
  .question__left {
    flex: 0 0 420px;
  }
}
.question__right {
  flex: 1;
}
.question__right.first {
  margin-left: 103px;
  margin-right: -200px;
}
@media (max-width: 1200px) {
  .question__right.first {
    margin-top: 0px;
    margin-right: 0;
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
  .question__right.first img {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .question__right.first img {
    width: 200%;
  }
}
@media (max-width: 768px) {
  .question__right.first {
    display: none;
  }
}
.question__right.third {
  position: relative;
}
.question__right.third img {
  position: absolute;
  left: -300px;
  top: 14px;
}
@media (max-width: 768px) {
  .question__right.third {
    display: none;
  }
}

.footer {
  background-image: url("../img/bg-stars.png");
  background-size: 100%;
  padding-top: 150px;
}
@media (max-width: 992px) {
  .footer {
    padding-top: 70px;
  }
}
.footer ul {
  list-style-type: none;
}
.footer__logo {
  margin-bottom: 15px;
}
.footer__logo a {
  font-family: "Inter";
  font-size: 28px;
  color: white;
}
@media (max-width: 576px) {
  .footer__logo a {
    font-size: 20px;
  }
}

.footer-t {
  display: flex;
  gap: 35px;
}
@media (max-width: 900px) {
  .footer-t {
    flex-wrap: wrap;
  }
}
.footer-t__start {
  margin-right: auto;
}
.footer-t__start p {
  font-family: "Inter";
  color: #787878;
  line-height: 150%;
  max-width: 420px;
}
@media (max-width: 576px) {
  .footer-t__start p {
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .footer-t__start {
    flex: 0 1 100%;
  }
}
.footer-t__pay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 54px;
  box-sizing: border-box;
  border-radius: 5px;
  background: rgb(14, 14, 39);
  margin-top: 25px;
  color: #787878;
  transition: all 0.3s;
}
.footer-t__pay:hover {
  background: #C08A70;
  color: #fff;
}
.footer-t__column h3 {
  font-size: 20px;
  color: #787878;
  margin-bottom: 25px;
}
@media (max-width: 576px) {
  .footer-t__column h3 {
    font-size: 18px;
  }
}
.footer-t__column ul li {
  margin-bottom: 15px;
  white-space: nowrap;
}
.footer-t__column ul li:last-child {
  margin-bottom: 0;
}
.footer-t__column ul li a {
  color: #fff;
  transition: all 0.3s;
}
.footer-t__column ul li a:hover {
  color: #CF88E2;
}
@media (max-width: 576px) {
  .footer-t__column ul li {
    font-size: 16px;
    white-space: normal;
    line-height: 130%;
  }
  .footer-t__column ul li a {
    white-space: nowrap;
  }
}

.footer-b {
  display: flex;
  margin-top: 75px;
  margin-bottom: 40px;
  gap: 20px;
}
.footer-b__copyright {
  font-family: "Inter";
  font-size: 14px;
  color: #b5b5b5;
  margin-right: auto;
}
.footer-b ul {
  display: flex;
  gap: 24px;
  font-size: 14px;
}
.footer-b ul a {
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s;
}
.footer-b ul a:hover {
  color: #CF88E2;
}
@media (max-width: 1200px) {
  .footer-b__copyright {
    flex: 0 0 230px;
  }
  .footer-b ul {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 780px) {
  .footer-b {
    flex-direction: column;
  }
  .footer-b__copyright {
    flex: 1;
  }
}
@media (max-width: 620px) {
  .footer-b {
    margin-top: 50px;
  }
}
@media (max-width: 540px) {
  .footer-b ul {
    flex-direction: column;
    gap: 15px;
  }
}

.popup__decoration img {
  width: 100%;
}
.popup__inner {
  background: #0E0E27;
  border-radius: 10px;
}
.popup__submit {
  position: relative;
  cursor: pointer;
  width: 324px;
  height: 100px;
  margin: 0 auto;
  margin-top: 40px;
}
@media (max-width: 576px) {
  .popup__submit {
    width: 227px;
    height: 70px;
    margin-top: 25px;
  }
}
.popup__submit img {
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 576px) {
  .popup__submit img {
    width: 100%;
    height: 100%;
  }
}
.popup__submit div {
  position: absolute;
  top: 22px;
  left: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  width: 230px;
  background: #272936;
  transition: all 0.3s;
  color: #fff;
}
@media (max-width: 576px) {
  .popup__submit div {
    font-size: 12.6px;
    top: 15px;
    left: 33px;
    width: 161px;
    height: 40px;
  }
}
.popup__submit:hover div {
  background: #472b74;
}

.popup-calc__content {
  padding: 0;
}
.popup-calc__inner {
  padding: 30px 60px;
  box-sizing: border-box;
}
@media (max-width: 576px) {
  .popup-calc__inner {
    padding: 30px;
  }
}
.popup-calc__inner h2 {
  margin-bottom: 50px;
  font-size: 42px;
  font-family: "Cormorant SC";
  line-height: 110%;
  text-align: center;
}
@media (max-width: 576px) {
  .popup-calc__inner h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
.popup-calc__inner ul {
  list-style: none;
}
.popup-calc__inner ul li {
  margin-bottom: 25px;
}
@media (max-width: 576px) {
  .popup-calc__inner ul li {
    margin-bottom: 16px;
  }
}
.popup-calc__inner ul li:last-child {
  margin-bottom: 0;
}
.popup-calc__inner ul li p {
  line-height: 150%;
  color: #787878;
}
@media (max-width: 576px) {
  .popup-calc__inner ul li p {
    font-size: 14px;
  }
}
.popup-calc__progress {
  max-width: 500px;
  height: 20px;
  border-radius: 10px;
  background: #01080E;
}
.popup-calc__completed {
  width: 0;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(23, 17, 91) 3%, rgb(33, 23, 71) 24%, rgb(172, 104, 204) 77%, rgb(235, 153, 255) 98%);
}
.popup-calc__completed span {
  font-family: "Cormorant SC";
  font-size: 14px;
  padding-left: 17px;
}

.popup-done__body {
  padding: 10px;
}
@media (max-width: 576px) {
  .popup-done__content {
    padding: 10px;
  }
}
.popup-done__info {
  padding: 30px;
  margin: 0 auto;
  max-width: 440px;
}
@media (max-width: 576px) {
  .popup-done__info {
    max-width: 350px;
    padding: 30px 17px;
  }
}
.popup-done__info h2 {
  font-family: "Cormorant SC";
  font-size: 36px;
  line-height: 110%;
  text-align: center;
  max-width: 380px;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .popup-done__info h2 {
    font-size: 28px;
  }
}
.popup-done__info h3 {
  padding-top: 40px;
  line-height: 150%;
  color: #787878;
}
@media (max-width: 576px) {
  .popup-done__info h3 {
    font-size: 16px;
    padding-top: 25px;
    line-height: 110%;
  }
}
.popup-done__info ul {
  margin-top: 15px;
  list-style: none;
}
.popup-done__info ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .popup-done__info ul li {
    font-size: 14px;
  }
}
.popup-done__info ul li:last-child {
  margin-bottom: 0;
}
.popup-done__info ul li::before {
  content: url("../img/icons/li.svg");
  margin-right: 10px;
}
.popup-done__promotion {
  margin-top: 40px;
  font-family: "Cormorant SC";
  font-size: 36px;
}
@media (max-width: 576px) {
  .popup-done__promotion {
    font-size: 28px;
    margin-top: 25px;
  }
}
.popup-done__promotion-text {
  margin-top: 15px;
}
@media (max-width: 576px) {
  .popup-done__promotion-text {
    font-size: 14px;
  }
}
.popup-done__input {
  margin-top: 25px;
  width: 100%;
  max-width: 400px;
  height: 60px;
  padding: 0 25px;
  background: #01080E;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "JetBrains Mono";
  font-size: 18px;
  color: white;
}
@media (max-width: 576px) {
  .popup-done__input {
    font-size: 16px;
    height: 54px;
    padding: 0 15px;
  }
}
.popup-done__input:focus {
  outline: none;
  outline: 2px solid #fff;
}
@media (max-width: 576px) {
  .popup-done__input:focus {
    outline: 1px solid #fff;
  }
}
.popup-done__input:focus[readonly] {
  outline: none;
}
.popup-done__input::-moz-placeholder {
  color: #787878;
}
.popup-done__input::placeholder {
  color: #787878;
}
.popup-done__input._error {
  box-shadow: 0 0 10px red;
}

.popup-success__content h2 {
  font-size: 36px;
  font-family: "Cormorant SC";
  text-align: center;
}
.popup-success__content p {
  margin-top: 40px;
  text-align: center;
  font-size: 20px;
}
.popup-success__inner {
  padding: 30px 150px;
}
.burger {
  display: none;
  position: absolute;
  width: 30px;
  height: 20px;
  top: 30px;
  right: 22px;
  z-index: 10;
}
.burger span, .burger::before, .burger::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
}
.burger span {
  position: absolute;
  top: 9.3333333333px;
  transition: all 0.3s;
}
.burger::before, .burger::after {
  transition: all 0.5s;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}

.burger_close {
  z-index: 10;
}
.burger_close span {
  /* transform: rotate(45deg); */
  width: 0;
  background-color: white;
}
.burger_close::before {
  top: 8px;
  transform: rotate(45deg);
}
.burger_close::after {
  top: 8px;
  transform: rotate(-45deg);
}

@media (max-width: 576px) {
  .burger {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */