@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

b {
  font-size: inherit;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 18px;
  font-weight: 400; /* Regular */
  color: #fff;
  font-family: "JetBrains Mono", monospace;
  background-color: #01080E;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1300px;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: content-box; /* Сам прибавляет padding */
}

/*
._ibg {
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        object-fit: cover;
    }
}
 */
/* ----------------------------------- */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 25;
}
.header__container {
  display: flex;
  padding-top: 54px;
}
.header__logo {
  color: #fff;
  font-size: 20px;
}
.header__menu {
  flex: 1;
}

.menu__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.menu__link {
  color: #D4D4D4;
  font-family: "Golos Text";
  transition: all 1s;
}
.menu__link:hover {
  color: #fff;
  font-family: "JetBrains Mono";
}

.promo-bg {
  position: relative;
}
.promo-bg__circle {
  position: absolute;
  right: 0;
  z-index: 0;
}
.promo-bg__stones {
  position: absolute;
  top: 770px;
  z-index: 20;
}

.promo {
  height: 1300px;
}
.promo__left {
  position: relative;
  z-index: 5;
}
.promo__header {
  max-width: 600px;
  padding-top: 320px;
  font-family: "Cormorant SC";
  line-height: 110%;
  font-size: 74px;
  font-weight: 500; /* Medium */
}
.promo__text {
  max-width: 405px;
  line-height: 150%;
  color: #D0D0D0;
  margin-top: 60px;
}
.promo__text span {
  color: #787878;
}
.feedback__container h2 {
  font-family: "Cormorant SC";
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 60px;
}
.feedback__slider {
  overflow: visible;
}
.feedback__decor-t img, .feedback__decor-b img {
  width: 100%;
}
.feedback__inner {
  position: relative;
  background: rgb(14, 14, 39);
  min-height: 500px;
  padding: 30px 70px 70px 30px;
  box-sizing: border-box;
}
.feedback__text {
  line-height: 150%;
  margin-top: 30px;
}
.feedback__user {
  font-family: "Inter";
  color: #787878;
  font-size: 20px;
  position: absolute;
  left: 30px;
  bottom: 20px;
}

.faq {
  background-image: url("../img/bg-stars.png");
  background-size: 100%;
}
.faq__container h2 {
  font-family: "Cormorant SC";
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  line-height: 110%;
  padding-top: 150px;
  padding-bottom: 94px;
}

.question {
  display: flex;
}
.question.second {
  margin-top: 90px;
}
.question__text {
  border: 1px solid #666666;
  border-radius: 10px;
  padding: 25px;
  box-sizing: border-box;
}
.question h3 {
  font-family: "Mulish";
  font-size: 24px;
  line-height: 115%;
  font-weight: 500;
  padding-bottom: 15px;
}
.question p {
  font-family: "Mulish";
  font-weight: 500;
  line-height: 150%;
  color: #787878;
}
.question p span {
  color: #fff;
}
.question__left {
  flex: 0 1 600px;
}
.question__left.second {
  margin-top: -80px;
}
.question__right {
  flex: 1;
}
.question__right.first {
  margin-left: 120px;
  margin-right: -200px;
  margin-top: -85px;
}/*# sourceMappingURL=style.css.map */