@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

b {
  font-size: inherit;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 18px;
  font-weight: 400; /* Regular */
  color: #fff;
  font-family: "JetBrains Mono", monospace;
  background-color: #01080E;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1300px;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: content-box; /* Сам прибавляет padding */
}

/*
._ibg {
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        object-fit: cover;
    }
}
 */
/* ----------------------------------- */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 25;
}
.header__container {
  display: flex;
  padding-top: 54px;
}
.header__logo {
  color: #fff;
  font-size: 20px;
}
.header__menu {
  flex: 1;
}

.menu__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.menu__link {
  color: #D4D4D4;
  font-family: "Golos Text";
  transition: all 0.3s;
}
.menu__link:first-child {
  color: #fff;
  font-family: "JetBrains Mono";
}
.menu__link:hover {
  color: #CF88E2;
  cursor: pointer;
}

.promo-bg {
  position: relative;
}
.promo-bg__circle {
  position: absolute;
  right: 0;
  z-index: 0;
}
.promo-bg__stones {
  position: absolute;
  top: 770px;
  z-index: 20;
}

.promo {
  height: 1300px;
}
.promo__container {
  display: flex;
}
.promo__left {
  position: relative;
  z-index: 5;
}
.promo__header {
  max-width: 600px;
  padding-top: 320px;
  font-family: "Cormorant SC";
  line-height: 110%;
  font-size: 74px;
  font-weight: 500; /* Medium */
}
.promo__text {
  max-width: 405px;
  line-height: 150%;
  color: #D0D0D0;
  margin-top: 60px;
}
.promo__text span {
  color: #787878;
}
.form {
  margin-top: 87px;
  margin-left: 172px;
  width: 524px;
}
.form__decoration {
  text-align: center;
  margin-bottom: -1px;
}
.form__decoration img {
  width: 96%;
}
.form__inner {
  height: 817px;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(133.5px);
          backdrop-filter: blur(133.5px);
  background: rgba(0, 7, 17, 0.22);
  padding-top: 50px;
  border: 1px solid #383346;
}
.form__progress {
  width: 400px;
  height: 10px;
  background: #01080E;
  padding: 2px;
  box-sizing: border-box;
  margin: 0 auto;
}
.form__completed {
  height: 100%;
  background: linear-gradient(0deg, rgb(23, 17, 91) 3%, rgb(33, 23, 71) 24%, rgb(172, 104, 204) 77%, rgb(235, 153, 255) 98%);
}
.form__completed_20 {
  width: 20%;
}
.form__completed_40 {
  width: 40%;
}
.form__header {
  font-family: "Cormorant SC";
  font-size: 36px;
  text-align: center;
  margin-top: 25px;
}
.form__radio {
  display: none;
}
.form__radio:checked + .form__radio-label::after {
  transform: scale(1);
}
.form__radio:checked + .form__radio-label::before {
  background-color: #01080E;
}
.form__radio-buttons {
  text-align: center;
  margin-top: 60px;
  margin-bottom: -10px;
}
.form__radio-label {
  display: inline-flex;
  align-items: center;
  margin-right: 40px;
  position: relative;
}
.form__radio-label span {
  font-size: 18px;
  font-weight: 400; /* Regular */
  color: #fff;
  font-family: "JetBrains Mono", monospace;
}
.form__radio-label:last-child {
  margin-right: 0;
}
.form__radio-label::before {
  content: "";
  flex: 0 0 18px;
  height: 18px;
  border: 2px solid #01080E;
  border-radius: 3px;
  margin-right: 15px;
  transition: all 0.3s;
}
.form__radio-label::after {
  content: url("../img/icons/checked.svg");
  position: absolute;
  top: 0;
  left: 5px;
  transform: scale(0);
  transition: all 0.3s;
}
.form__input {
  display: block;
  width: 398px;
  height: 60px;
  border-radius: 3px;
  background: #01080E;
  padding: 0 25px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400; /* Regular */
  color: #fff;
  font-family: "JetBrains Mono", monospace;
  margin: 0 auto;
  margin-top: 60px;
}
.form__text {
  padding: 0 50px;
  color: #787878;
  margin-top: 50px;
}
.form__text p {
  margin-top: 20px;
  line-height: 150%;
}
.form__text p:first-child {
  margin-top: 0;
}
.form__next {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 324px;
  height: 100px;
  margin: 0 auto;
}
.form__next img {
  position: absolute;
  top: 0;
  left: 0;
}
.form__next div {
  position: absolute;
  top: 22px;
  left: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  width: 230px;
  background: #272936;
  transition: all 0.3s;
}
.form__next:hover div {
  background: #C08A70;
  cursor: pointer;
}

.feedback__container h2 {
  font-family: "Cormorant SC";
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 60px;
}
.feedback__slider {
  overflow: visible;
}
.feedback__decor-t img, .feedback__decor-b img {
  width: 100%;
}
.feedback__inner {
  position: relative;
  background: rgb(14, 14, 39);
  min-height: 500px;
  padding: 30px 70px 70px 30px;
  box-sizing: border-box;
}
.feedback__text {
  line-height: 150%;
  margin-top: 30px;
}
.feedback__user {
  font-family: "Inter";
  color: #787878;
  font-size: 20px;
  position: absolute;
  left: 30px;
  bottom: 20px;
}

.faq {
  background-image: url("../img/bg-stars.png");
  background-size: 100%;
}
.faq__container h2 {
  font-family: "Cormorant SC";
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  line-height: 110%;
  padding-top: 150px;
  padding-bottom: 94px;
}

.question {
  display: flex;
}
.question.second {
  margin-top: 65px;
  margin-left: 20px;
}
.question.third {
  margin-top: 20px;
}
.question.third ul {
  list-style-position: inside;
  list-style-type: none;
}
.question.third ul > li:before {
  content: "— ";
}
.question.third ul > li {
  color: #787878;
  line-height: 150%;
}
.question__text {
  border: 1px solid #666666;
  border-radius: 10px;
  padding: 25px;
  box-sizing: border-box;
}
.question__text.third {
  background-color: #0E0E27;
}
.question__text.third p {
  font-family: "JetBrains Mono", monospace;
}
.question h3 {
  font-family: "Mulish";
  font-size: 24px;
  line-height: 115%;
  font-weight: 500;
  padding-bottom: 15px;
}
.question p {
  font-family: "Mulish";
  font-weight: 500;
  line-height: 150%;
  color: #787878;
}
.question p span {
  color: #fff;
}
.question__left {
  flex: 0 1 640px;
}
.question__left.second {
  margin-top: -50px;
}
.question__left.third {
  position: relative;
  z-index: 5;
}
.question__right {
  flex: 1;
}
.question__right.first {
  margin-left: 103px;
  margin-right: -200px;
  margin-top: -59px;
}
.question__right.third {
  position: relative;
}
.question__right.third img {
  position: absolute;
  left: -300px;
  top: 14px;
}

.footer {
  background-image: url("../img/bg-stars.png");
  background-size: 100%;
  padding-top: 150px;
}
.footer ul {
  list-style-type: none;
}
.footer__logo {
  margin-bottom: 15px;
}
.footer__logo a {
  font-family: "Inter";
  font-size: 28px;
  color: white;
}

.footer-t {
  display: flex;
}
.footer-t__start {
  margin-right: auto;
}
.footer-t__start p {
  font-family: "Inter";
  color: #787878;
  line-height: 150%;
  max-width: 420px;
}
.footer-t__pay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 54px;
  box-sizing: border-box;
  border-radius: 5px;
  background: rgb(14, 14, 39);
  margin-top: 25px;
  color: #787878;
  transition: all 0.3s;
}
.footer-t__pay:hover {
  background: #C08A70;
  color: #fff;
}
.footer-t__column {
  margin-left: 47px;
}
.footer-t__column h3 {
  font-size: 20px;
  color: #787878;
  margin-bottom: 25px;
}
.footer-t__column ul li {
  margin-bottom: 15px;
}
.footer-t__column ul li:last-child {
  margin-bottom: 0;
}
.footer-t__column ul li a {
  color: #fff;
  transition: all 0.3s;
}
.footer-t__column ul li a:hover {
  color: #CF88E2;
}

.footer-b {
  display: flex;
  margin-top: 75px;
  margin-bottom: 40px;
}
.footer-b__copyright {
  font-weight: "Inter";
  font-size: 14px;
  color: #b5b5b5;
  margin-right: auto;
}
.footer-b ul {
  display: flex;
  gap: 24px;
  font-size: 14px;
}
.footer-b ul a {
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s;
}
.footer-b ul a:hover {
  color: #CF88E2;
}/*# sourceMappingURL=style.css.map */